node_modules
dist
.git
Dockerfile
.gitignore


.env.local
.env.development
.env.test
.env.production
*.log
*.lock
*.tmp
.vscode
.idea
.DS_Store
coverage

# Cypress test artifacts
cypress/videos
cypress/screenshots
